name: Build

on: [ push, pull_request, merge_group ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: "${{ matrix.runs-on }}"
    strategy:
      fail-fast: false
      matrix:
        runs-on:
          - ubuntu-latest
          - windows-latest
        rust:
          - stable
          - nightly
          - 1.85.1 # MSVR
    steps:
      - uses: actions/checkout@v6
      - name: Setup Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: "${{ matrix.rust }}"
      - uses: Swatinem/rust-cache@v2
        with:
          key: "${{ matrix.runs-on }}-${{ matrix.rust }}"
      - name: Build
        run: cargo build --all-targets --verbose
      # use some no_std target
      - name: Install no_std targets i686-unknown-uefi & x86_64-unknown-uefi
        run: |
          rustup target add x86_64-unknown-uefi
          rustup target add i686-unknown-uefi
      - name: Build (no_std)
        run: |
          cargo build --verbose --target x86_64-unknown-uefi
          cargo build --verbose --target i686-unknown-uefi
      - name: Run tests
        run: cargo test --verbose

  miri:
    runs-on: "${{ matrix.runs-on }}"
    needs:
      # Logical dependency and wait for cache to be present
      - build
    strategy:
      matrix:
        runs-on:
          - ubuntu-latest
        rust:
          - nightly
    steps:
      - uses: actions/checkout@v6
      - name: Setup Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: "${{ matrix.rust }}"
      - uses: Swatinem/rust-cache@v2
        with:
          key: "${{ matrix.runs-on }}-${{ matrix.rust }}"
      - run: rustup component add miri
      - run: cargo miri test --tests

  style_checks:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust:
          - stable
    steps:
      - uses: actions/checkout@v6
      - name: Setup Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: "${{ matrix.rust }}"
      - uses: Swatinem/rust-cache@v2
        with:
          key: "${{ matrix.runs-on }}-${{ matrix.rust }}"
      - name: Rustfmt
        run: cargo fmt --all -- --check
      - name: Clippy
        run: cargo clippy
      - name: Rustdoc
        run: cargo doc --no-deps --document-private-items
